@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.logo{
  height: 25%;
  width: 25%;
}

body{
  background-color: #FFFFCC	;
}

.p-top {
  min-width: 960px;
  &__title {
    text-align: center;
    font-size: 16px;
  }

  &__introduce {
    margin: 0 auto;
    th {
        padding: 0 15px;
    }
    td {
      padding: 0 15px;
    }
  }
  &__paginate {
    text-align: center;
    margin:0 auto;
  }
}