@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.logo{
  height: 25%;
  width: 25%;
}

.main{
  background-color: #FFFFCC	;
}


.visual{
  height: 200px;
  width: 100%;
}